/* - - - - - - - - - - - - - - - - VENTANA PRINCIPAL- - - - - - - */
QMainWindow {  /* Color de fondo del QMainWindow */
    padding: 8px;
    min-width: 5px;
    min-height: 3px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
        
}

QTabWidget::pane { /* El marco del QTabWidget */
    border: 1px solid #ccc; /* Borde del QTabWidget */
    background: #f2f2f2; /* Color de fondo del QTabWidget */

}

QTabBar::tab {
    background: #dfdddd;  /* Color de fondo de las pestañas */
    color: rgb(27, 26, 26);  /* Color del texto en las pestañas */
    padding: 10px;  /* Espaciado dentro de las pestañas */
    border: none;  /* Borde de las pestañas */
}

QTabBar::tab:selected {
    background: #b1d1d6;  /* Color de fondo cuando una pestaña está seleccionada */
    border-bottom-color: #ccc;  /* Color del borde inferior cuando está seleccionada */
}

QTabBar::tab:hover {
    background: #b1d1d6;  /* Color de fondo cuando el cursor está sobre una pestaña */
}

QPushButton {
    background-color: #ccc;
    color: rgb(17, 16, 16);
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
QPushButton:hover{
    background-color: #b3ebb5;
}
QLabel {
    color: #0c0c0c;
    font-size: 18px;
}